{% extends "base.html" %}

{% load static %}

{% block title %}
  文章標讀音
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2><label for="text">輸入欲找讀音的漢字：</label></h2>
        <textarea name="text" id="text" rows="4" cols="50">{{ default_text }}</textarea>
        <br />
        <button type="submit">送出</button>
    </form>
    <br />
    {% if annotated_text %}
        <h2>已標註讀音的漢字：</h2>
        <div class="pronunciation">
            {% for char in annotated_text %}
                {% if char.han_ji %}
                    <ruby>
                    {{ char.han_ji }}<rt>{{ char.chu_im }}</rt>
                    </ruby>
                {% else %}
                    {{ char|safe }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
